MINIO_ROOT_USER =
MINIO_ROOT_PASSWORD =

MINIO_LOCAL_ANALYST_USER =
MINIO_LOCAL_ANALYST_PASSWORD =

MINIO_LOCAL_ENGINEER_USER =
MINIO_LOCAL_ENGINEER_PASSWORD =

MINIO_LOCAL_ADMIN_USER =
MINIO_LOCAL_ADMIN_PASSWORD =