MINIO_ROOT_USER =
MINIO_ROOT_PASSWORD =

MINIO_LOCAL_ANALYST_USER =
MINIO_LOCAL_ANALYST_PASSWORD =

MINIO_LOCAL_ENGINEER_USER =
MINIO_LOCAL_ENGINEER_PASSWORD =

MINIO_LOCAL_ADMIN_USER =
MINIO_LOCAL_ADMIN_PASSWORD =

AIRFLOW_UID =

AIRFLOW_USERNAME =
AIRFLOW_PASSWORD =

POSTGRES_USER =
POSTGRES_PASSWORD =
POSTGRES_DB =

AIRFLOW__API_AUTH__JWT_SECRET =
AIRFLOW__API_AUTH__JWT_ISSUER =

OPEN_METADATA_USERNAME =
OPEN_METADATA_PASSWORD = 

METADATA_POSTGRES_USER =
METADATA_POSTGRES_PASSWORD =
METADATA_POSTGRES_DB_PASSWORD =
METADATA_POSTGRES_DB_USER =
METADATA_POSTGRES_DB_USER_PASSWORD =